html, body{
	margin:0;
	height: 100%;
}
body::-webkit-scrollbar{
	background:#212529;
	width: 10px;
}
body::-webkit-scrollbar-thumb{
	background:#fff;
	border-radius: 4px; 
}
.btn{
	color: #fff;
}
.btn:hover{
	color: #fff;
}
.container-fluid{
	background-color: #dddddd59;
}
.row{
	width: 100%;
}
.jumbotron{
	height: 100%;
	margin-bottom: 0px;
	background-image: url(../images/jumbotron_bg.png);
}
.nav-link{
	font-family: Brandon Text,sans-serif;
	font-weight: 700;
	word-spacing: .01em;
	letter-spacing: .0001em;
	font-size: 14px;
}
.welcome_title{
	font-size: 56px;
	color: #007bff;
	font-weight: 100;
}
.description_jumbotron{
	font-size: 20px;
	color:#d1d1d1;
}
.container{
	margin-top:60px;
}
#jumbo-cont{
	margin-left: 15%;
	margin-right: 15%;
}
#footer{
	height: 50px;
	text-align:center;
}
.section{
	padding-top:70px;
}
#section_two{
	margin:0;
}
.section:hover{
	border-radius: 10px;
}
#mensajeAlerta{
	display: none;
	color: #ff0c31;
	font-size: 12px;
}
.form-error{
	border-color:#ff2348;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #4c5864;
}
footer{
	background-color: #212529;
}
.footer-list{
	color: #e2e1e166;
	list-style: none;
	font-family: Brandon Text,sans-serif;
	font-weight: 700;
	word-spacing: .01em;
	font-size: 14px;
	text-align:right;
}
#frase{
	width: 100%;
	padding: 10%;
	min-height:500px;
	background-color:#373c44;
	color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    font-family: serif;
}

#galeria ul{
	list-style:none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#galeria img{
	width:150px;
}
.introduction{
	text-align: center;
}
.question{
	background-color: #373c44;
	color: #fff;
	border-color: #373c44;
}

.answer{
	width: 100%;
	padding: 10%;
	text-align: center;
	color: #fff;
	background: linear-gradient(#373c44,#566e94);
}
.iconos{
	width: 70%;
}
.subtitle{
	text-align: center;
}