html, body{
	margin:0;
	height: 100%;
}
body::-webkit-scrollbar{
	background:#212529;
	width: 10px;
}
body::-webkit-scrollbar-thumb{
	background:#fff;
	border-radius: 4px; 
}
#myHeader{
	background-color: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 2px solid #d6d6d6;
}
.img{
	padding-left: 5%;
	padding-top: 10px;
	padding-bottom: 5px;
}
.btn{
	color: #fff;
}
.btn:hover{
	color: #fff;
}
.container-fluid{
	background-color: #dddddd59;
}
.row{
	width: 100%;
}
.jumbotron{
	height: 100%;
	margin-bottom: 0px;
	background-image: url(../images/jumbotron_bg.png);
}
#jumbotron-boton{
	background-color: #ff6600;
}
.navbar{
	z-index: 1000;
}
.submit{
	background-color: #ff6600;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
.nav-link{
	color: #000;
	font-family: Brandon Text,sans-serif;
	font-weight: 700;
	word-spacing: .01em;
	letter-spacing: .0001em;
	font-size: 14px;
}
.welcome_title{
	font-size: 56px;
	color: #ff6600;
	font-weight: 100;
}
.description_jumbotron{
	font-size: 20px;
	color:#d1d1d1;
}
.container{
	margin-top:60px;
}
#jumbo-cont{
	margin-left: 15%;
	margin-right: 15%;
}
#footer{
	height: 50px;
	text-align:center;
}
.section{
	padding-top:70px;
}
#section_two{
	margin:0;
}
.section:hover{
	border-radius: 10px;
}
#mensajeAlerta{
	display: none;
	color: #ff0c31;
	font-size: 12px;
}
.form-error{
	border-color:#ff2348;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background:transparent;
}
.nav-link:hover{
	color: #ff6600;
}
footer{
	background-color: #212529;
}
.footer-list{
	color: #e2e1e166;
	list-style: none;
	font-family: Brandon Text,sans-serif;
	font-weight: 700;
	word-spacing: .01em;
	font-size: 14px;
	text-align:right;
}
#frase{
	font-family: serif;
	font-size: 20px;	
}

#galeria ul{
	list-style:none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#galeria img{
	width:150px;
}
.introduction{
	text-align: center;
}
.question{
	background-color: #ff6600;
	color: #fff;
	border-color: #373c44;
}
.answer{
	width: 100%;
	padding: 10%;
	text-align: center;
	color: #fff;
	background: linear-gradient(#dd9b6f,#ff6600);
}
.iconos{
	width: 70%;
}
.icono-septimo{
	width: 62%;
}
.subtitle{
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}
.list-sectionOne{
	list-style: none;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	color: black;
}
.nav-pills .nav-link.active{
	color:#ff6600;
	border-bottom: 3px solid #ff6600;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.card{
	margin-left: 10%;
	width: 80%;
}
.card-tittle{
	font-size: 22px;
}
.link-pdf
{
	color:#ff6600;
}
.link-pdf:hover{
	color:#ff6600;
	text-decoration: none;
}
.cardComillas{
	background-color:#000000c7;
	color: white;
}
.parallax-window {
 	background: #2f2f2d70;
 	width: 100%;
    min-height: 500px;
}
.parallax-title{
	text-align: center;
	color: #fff;
}
.parallax-text{
	text-align: center;
	color: #fff;
}
.service-card{
	background-color:#00000000;
	color: #fff;
}
.service-img{
	width:32px;
}
#botoncard{
	color: #fff;
	background-color: #ff6600;
	display: inline-block;
	border-radius: 10px;
}
#botoncard:hover{
	text-decoration: none;
}
#contact-list{
	list-style:none;
	text-align: center;
}
#section_three{
	color: #fff;
	background-color: #fff;
}
#contact-wrap{
	background-image: url(../images/bg_contact.jpg);
	margin:0;
}